/* wiseup */
.monaco {
  font-family: "Monaco", monospace;
}
.cover-container {
  max-width: 60em;
}
.restraint-flex {
  max-width: 45em;
  margin: 0 auto;
  align-items: center;
}

/* Navbar */
nav a.navbar-brand {
  font-weight: 600;
}
nav a.navbar-brand:hover {
  color: #17a2b7 !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #17a2b7 !important;
}
.dropdown-item {
  color: rgba(0, 0, 0, 0.55) !important;
  text-align: center;
}
li.dynamic-tab-item {
  padding: 0px !important;
}

/*question list*/
li.borderless {
  border: 0 none;
}

/*anchor, button*/
a.question-title {
  color: rgba(0, 0, 0);
}
a.question-user {
  color: rgba(0, 0, 0, 0.55);
}
a.more {
  color: #17a2b7;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a.question-title:hover {
  text-decoration: none;
  color: #17a2b7;
}
a.question-user:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.75);
}
a.more:hover {
  text-decoration: underline;
  color: rgba(23, 162, 183, 0.95);
}
a.nav-link {
  color: #17a2b7;
}
a.btn-edit {
  color: rgba(23, 162, 183, 0.75);
}
a.btn-edit:hover {
  text-decoration: underline;
  color: rgba(23, 162, 183, 0.95);
}
a.btn-delete {
  color: rgba(217, 83, 79, 0.75);
}
a.btn-delete:hover {
  text-decoration: underline;
  color: rgba(217, 83, 79, 0.95);
}

/*form format*/

.form-inline .form-control { 
  display: inline-block !important; 
  width: auto!important;
}

.highlight {
  background-color: #D3D3D3;
}

/* user question, answer */
.list-group-item {
  padding: .75rem 0;
}