{% extends "wiseup/base.html" %} {% block content %}
<div class="d-flex flex-column p-2 restraint-flex">
  <h3>About</h3>
  <p class="mt-4"><b>WisingUp</b> is a open and safe place for you to harness your independent thinking skill. How does it work? </p>
  <ul>
    <li><u>Ask questions</u>: You actively ask questions that you are genuinely curious about. </li>
    <li><u>Answer them</u>: You spend a chunk of time to contemplate those questions from ground zero with your direct experience. 
      Try not to speculate or use answers from other sources. </li>
    <li><u>Do it consistently</u>: Just like going to the gym, training your independent thinking 'muscle'. </li>
    <li>You can either keep your questions and answers public or private in your profile setting. 
      You are free to answer others' questions, too. </li>
  </ul>
  <p>If you have any suggestions regarding to WiseUp, please feel free to email me (kailicen226@gmail.com). </p>
</div>
{% endblock content %}
