{% extends "wiseup/base.html" %}{% load static %}{% load query_highlight %}{% block content %}
<div class="d-flex flex-column p-2 restraint-flex text-center">
  <form method="GET" class="form-inline my-2 my-lg-0 pb-3">
    <input name="search" class="form-control mr-sm-2" required type="search" placeholder="Enter a keyword" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
  </form>
  {% for question in questions %}
  <ul class="list-group">
    <li class="list-group-item borderless mb-3">
      <a class="question-title" href="{% url 'question-detail' question.id %}"
        >{% if search_term == None %}{{ question.content }}
        {% else %}{{ question.content|highlight:search_term }}
        {% endif %}</a
      ><br /><small class="text-muted"
        >by
        <a
          class="question-user"
          href="{% url 'user-questions' question.user.username %}"
          >{% if question.user == request.user %} me{% else %}{{ question.user }}{% endif %}</a
        > </small
      >| <small class="text-muted">{{ question.date }}</small> |
      <small class="text-muted"><a class="question-user" href="{% url 'question-detail' question.id %}"
        >{{ question.answers.count }} answers</a></small>
    </li>
  </ul>
  {% endfor %}
  
</div>
<div class="text-center">
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
</div>
{% endblock content %}
